/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color-dark-theme: #FF8DCB;
  --main-color-dark-theme: #353430;
  --background-color: #FFF1F7;
  --decor-button-header: #353430;
  --button-hover: rgb(53 52 48 / 0.4);
  --color-header-title: #FFC2E6;
  --decor-header: #353430;
  --content-main-header: #353430;
  --background-image: url(../images/cover-image-light.png);
  --REC-hidden: hidden;
  --decor-href: #353430;
  --color-content-text: #353430;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--background-color);
  font-family: var(--main-font-family);
  color: var(--color-content-text);
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  :root {
        /* Дублируем переменные светлой темы */
        --accent-color-dark-theme: #FF8DCB;
        --main-color-dark-theme: #353430;
        --background-color: #FFF1F7;
        --decor-button-header: #353430;
        --button-hover: rgb(53 52 48 / 0.4);
        --color-header-title: #FFC2E6;
        --decor-header: #353430;
        --content-main-header: #353430;
        --background-image: url(../images/cover-image-light.png);
        --REC-hidden: hidden;
        --decor-href: #353430;
        --color-content-text: #353430;
        --title-shadow: #ff0070;
        --main-font-family: 'IBM Plex mono', sans-serif;
    }
}