/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  inline-size: 375px;
  /* background-image: var(--background-image); */
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  /* background-color: var(--background-color); */
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--color-content-text);
  margin: 0 auto;
}

/* Header */
.header {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  min-height: 668px;
  height: 100vh;
  width: 100%;
  position: relative;
} 

/* уголки */
.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border-right: 0.0625rem solid var(--decor-header);
  border-top: 0.0625rem solid var(--decor-header);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border-bottom: 0.0625rem solid var(--decor-header);
  border-left: 0.0625rem solid var(--decor-header);
  left: 3%;
  bottom: 1.2%;
}

/* Псевдоэлементы REC и точка */
.header__rec_pseudo {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.8vw;
  position: absolute;
  top: 1.5%;
  right: 5%;
}

.header__rec_pseudo::before {
  content: "REC";
  display: block;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.56rem;
  color: var(--decor-header);
}

.header__rec_pseudo::after {
  content: "";
  display: block;
  width: 0.57rem;
  height: 0.57rem;
  border-radius: 50%;
  background-color: var(--decor-header);
  box-shadow: 0px 0px 4px 2px var(--decor-header);
}

.page .header__rec_pseudo {
  visibility: var(--REC-hidden);
}

/* Кнопки */
.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.125rem;
  font-style: normal;
  padding-top: 63px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 2.6vw;
  margin-right: 10px;
  margin-bottom: 2.9vw;
}

.header__theme-menu-item {
  display: flex;
}

.header__theme-menu-button {
  display: block;
  width: 70px;
  background-color: transparent;
  border: none;
  color: var(--decor-button-header);
  text-transform: lowercase;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 2px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decor-button-header);
  pointer-events: none;
}

/* Состояния кнопок при активности */
.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-button-header);
}

/* Заголовок */
.header__title {
  display: block;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  line-height: 6rem;
  color: var(--color-header-title);
  text-shadow: 4px 4px 0 var(--title-shadow);
  padding-left: 10px;
  margin-top: 55px;
}

/* Мысль в header */
.header__idea {
  display: flex;
  justify-self: end;
  color: var(--main-color-dark-theme);
  background-color: var(--accent-color-dark-theme);
  font-size: 1.125rem;
  font-weight: bold;
  height: min-content;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 54px;
}

/* Медиазапросы_768px для heder*/
@media screen and (min-width: 768px) {

  .page { 
    inline-size: 768px;
 }

 .header {
  min-height: 1024px;
} 

.decorated-zone::before {
  top: 20px;
  right: 20px;
}

.decorated-zone::after {
  left: 20px;
  bottom: 20px;
}

.header__rec_pseudo {
  gap: 10px;
  top: 20px;
  right: 30px;
}

.header__theme-menu {
  padding-top:150px;
}

.header__theme-menu-list {
  margin-right: 20px;
  margin-bottom: 20px;
}

.header__title {
  letter-spacing: 0;
  margin-top: 155px;
  padding-left: 0;
}

.header__idea {
  max-width: min(50%, 364px);
  margin-right: 20px;
  margin-top: 162px;
}
}

/* Медиазапросы_1024px для heder*/
@media screen and (min-width: 1024px) {
  
.page { 
  inline-size: 1024px;
}

.header {
  min-height: 768px;
} 

.header__theme-menu {
  flex-direction: row;
  justify-content: center;
  padding-top: 0;
}

.header__theme-menu-list {
  flex-direction: row;
  margin-top: 18px;
  margin-left: 15px;
}

.header__title {
  letter-spacing: 0;
  margin-top: 270px;
  padding-left: 0;
  font-size: 9.8125rem;
  font-weight: 700;
}

.header__idea {
  max-width: min(50%, 491px);
  margin-top: 130px;
}
}

/*Основной  контент */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 1.125rem;
}

.content__section {
  display: flex;
  flex-direction: column;
}

.content__main-header {
  display: block;
  color: var(--content-main-header);
  font-size: inherit;
  font-weight: bold;
}

.content__article-header {
  color: var(--main-color-dark-theme);
  background-color: var(--accent-color-dark-theme);
  font-size: inherit;
  font-weight: bold;
  margin-bottom: 11px;
  margin-top: 21px;
}

.content__article-text {
  line-height: 1.455rem;
}

.content__article-text_part {
  color: var(--main-color-dark-theme);
  background-color: var(--accent-color-dark-theme);
  margin-top: 20px;
  margin-bottom: 11px;
}

.text__shadow {
  text-shadow: 2px 2px 0 var(--accent-color-dark-theme);
  text-decoration: none;
}

/* Состояния ссылок */
.text__shadow:hover {
  text-decoration: underline;
}

.text__shadow:focus-visible {
  border: 1px solid var(--decor-href);
}

/* Медиазапросы_768px для основного контента*/
@media screen and (min-width: 768px) {

.content {
  gap: 58px;
  margin-top: 60px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 60px;
}

.content__section_2column {
  display: grid;
  grid-template-columns: min(35%, 236px) 1fr;
  gap: 20px;
}

.content__article-header {
  margin-top: 0;
}

.content__article-text {
  margin-bottom: 21px;
}

.content__section_1column {
  display: grid;
  grid-template-columns: 236px repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  gap: 20px;
}

.content__main-header {
  grid-column: 1;
}

.content__article-column-1 {
  grid-column: 1 / 4;
}
}

/* Медиазапросы_1024px для основного контента*/
@media screen and (min-width: 1024px) {
  .content__section_2column {
    grid-template-columns: min(35%, 314px) 1fr;
  }

  .content__section_1column {
    grid-template-columns: 314px repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    gap: 20px;
  }
  .content__article-column-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
}

/* Галерея */
.gallery {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 36px;
  font-size: 1.125rem;
}

.gallery__list {
  display: grid;
  gap: 5px;
}

.gallery__picture-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    min-height: 100%;
}

/* Медиазапросы_768px для галлереи*/
@media screen and (min-width: 768px) {
  .gallery {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 52px;
  }

  .content__article-header {
    font-size: inherit;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 236px ;
    grid-template-rows: repeat(3, auto);
    gap: 17px;
    margin-top: 20px;
  }

  .gallery__picture-sunset {
    grid-column: 1 / 3;
  }

  .gallery__picture-ice-cream {
    grid-row: 1 / 3;
    grid-column: 3;
  }

  .gallery__picture-tape {
    grid-row: 2 / 4;
    grid-column: 1;
  }

  .gallery__picture-books {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__picture-street {
    grid-column: 2 / 4;
    grid-row: 3;

  }
}

/* Медиазапросы_1024px для галлереи*/
@media screen and (min-width: 1024px) {
  .gallery__list {
    grid-template-columns: repeat(2, 1fr) 315px ;
  } 
}

/* Подвал */
.footer {
  display: flex;
  min-height: 668px;
  height: 100vh;
  width: 100%;
  position: relative;
}

.footer__title {
  display: block;
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  line-height: 6rem;
  color: var(--color-header-title);
  text-shadow: 0 4px 2px #FF0070;
  padding-left: 20px;
  letter-spacing: -0.18rem;
}

/* Медиазапросы_768px для галлереи*/
@media screen and (min-width: 768px) {
  .footer {
    justify-content: center;
    min-height: 1024px;
  }

  .footer__title {
    padding-left: 0;
    padding-bottom: 5px;
    letter-spacing: -0.1rem;
  }
}

/* Медиазапросы_1024px для подвала*/
@media screen and (min-width: 1024px) {

  .footer {
    min-height: 768px;
  }

  .footer__title {
    font-size: 9.8125rem;
  }
}
